body {
  font-family: 'Jura', sans-serif;
  background-color: #f4c203;
}

.jumbotron {
  background-image: url(../img/ping-pong.jpg);
  background-size: cover;
  font-family: 'Audiowide', cursive;
  font-size: 6em;
  color: #f4c203;
  height: 300px;
  margin-top: 0;
  padding-left: 50px;
  border-bottom: 4px solid black;
}

#answer_section {
  display: none;
}

h4 {
  line-height: 1.3em;
}

p, ul {
  font-size: 1.2em;
}
